<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(fragment)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<header th:fragment="header(fragment)">
    <nav class="navbar">
        <ul>
            <li>
                <a href="/">
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.75 31.1666V17H21.25V31.1666M4.25 12.75L17 2.83331L29.75 12.75V28.3333C29.75 29.0848 29.4515 29.8054 28.9201 30.3368C28.3888 30.8681 27.6681 31.1666 26.9167 31.1666H7.08333C6.33189 31.1666 5.61122 30.8681 5.07986 30.3368C4.54851 29.8054 4.25 29.0848 4.25 28.3333V12.75Z" stroke="#1E1E1E" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>
<body>

</body>
</html>